<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tryskin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/skin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/skin"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrySkin">
        <activity
            android:name=".CNNTTesting"
            android:exported="false" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".CNNAlgorithm"
            android:label="Skin Detection "/>

        <activity android:name=".RegisterActivity"
            android:label="Registration"></activity>
        <activity
            android:name=".MyLoginActivity"
            android:label="Skin Disease Detection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>